   html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #canvas {
    width: 100%;
    height: 80vh;
    transform: skewY(-10deg);
    position: absolute;
    background-color:lightgrey;
    margin-top: -170px;
    animation: OpacityAnim 2s ease-in-out 0s infinite alternate;
  }
  .title-position {
    position:absolute;
    left:10%;
    top:5%
  }
  .construction-title{
    position:absolute;
    left:40%;
    top:5%;
    font-size: 1rem
  }
  .title{
    font-size: 1.5rem;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    font-family: Arial;
    color: #ffffff;
  }

  .menuitem{
    font-family: "sohne-var","Helvetica Neue","Arial",sans-serif;
    display: var(--desktopNavDisplay,flex);
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    -linkColor: var(--navColor);
    --linkHoverColor: var(--navHoverColor);
    --linkHoverOpacity: var(--navHoverOpacity);
    padding: 10px 20px;
    font: var(--fontWeightBold) 15px/1.6 var(--fontFamily);
    letter-spacing: .2px;
    color: var(--navColor);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
  }
  @media (min-width: 768px){
      .SiteHeader__navContainer {
          padding: 12px var(--columnPaddingNormal);
      }
  }
.SiteHeader__navContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    min-height: 56px;
    padding: 32px var(--columnPaddingNormal) 12px;
}
@media (min-width: 768px){
    .SiteHeader {
        --mobileNavDisplay: none;
    }
}
.SiteHeader {
    --siteMenuTransition: 250ms;
    --siteMenuArrowSpacing: 13px;
    --siteMenuArrowOffset: 0;
    --userLogoColor: #fff;
    position: relative;
    z-index: 100;
    background-color: var(--backgroundColor);
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  /* position: relative; */
  display: inline-block;
  font-size: 1rem
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.16);  z-index: 1;
  top: 25px;
  left: -25px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  top: 8%;
}

.dropdown-content a:hover {background-color: #ffffff;  border-radius: 10px;}

.dropdown:hover .dropdown-content {display: block;  border-radius: 10px;}

.dropdown:hover .dropbtn {background-color: #ffffff;  border-radius: 10px;}

.ft-1-rem{
  font-size: 1rem;
}
.aboutus{
  position:absolute;
  left:50%;
  top:5%;
  font-size: 1rem;
  width: 50%;
}
.signIn{
  position:absolute;
  left:85%;
  top:5%;
  font-size: 1rem;
  width: 50%;
}
.arrow-font{
  font-size: 1.25rem;
}
.pd-10px{
  padding: 10px;
}
.pointer{
  cursor: pointer;
}